@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kalam&family=Lobster&family=Mali:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CFD8DC;
    font-size: 220%;
    color: #332465;
}

header {
    padding: 1.4% 3%;
    top: 0;
    position: fixed;
    background-color: rgba(99, 196, 51, 0.478);
}

header img {
    width: 20%;
}

main {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2%;
    width: 85%;
    margin: 0 auto;
    margin-top: 7%;
    font-size: 70%;
    margin-left: 7%;
}

h2, h3 {
    color:#3d0000;
    margin: 2% 0;
}

h4 {
    margin: 2% 0;
}
h2:not(.title) {
    letter-spacing: .25em;
    text-decoration:underline;
    font-family: 'Kalam', cursive;
    margin: 2% 0;
}

.title {
    height: 25vh;
    background-image: url("../images/ngonghills.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(99, 196, 51, 0.478);
    background-blend-mode: multiply;
    border-bottom: 15px solid rgb(189, 123, 24);
}

.title h2 {
    padding: 9% 12% 0%;
    font-size: 120%;
    color: white;
    letter-spacing: .4rem;
    word-spacing: .2rem;
}


section img {
    width: 35%;
    height: 20%;
}

nav {
    margin-top: 1%;
    width: 15%;
    margin-left: 64%;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-left: 2px solid green;
}

nav a {
    text-decoration: none;
    font-size: 100%;
    color: rgb(27, 94, 32);
    margin-top: 4%;
    background-color: rgb(255, 240, 221);
    padding: 3%;
    text-align: right;
}

nav a:hover {
    width: 110%;
    color: bisque;
    background-color: rgb(27, 94, 32);
    text-align: center;

}

div {
    margin-top: 3%;
}

.requirements ul {
    display: flex;
    flex-direction: column;
    height: 12vh;
    flex-wrap: wrap;
    list-style: none;
}

.irua {
    display: block;
}

.location > iframe, .iruaimg > iframe {
    margin: 2% 0;
    margin-left: 10%;
    width:80%; 
    height:60vh;
}

.irua p {
    margin-bottom: 2%;
}

.events img {
    width: 30%;
}

.photocontainer {
    border: 2px solid white;
    width: 90%;
    margin: 2% auto;
    padding: 2%;
    display: flex;
    overflow-x: scroll;
    gap: 2%;
    background-color: #f57b0057;
}

.prayer {
    margin: 5% 0;
    padding: 3% .1%; 
    background-color: rgb(146, 190, 138);
    text-align: center;
    font-size: 140%;
    letter-spacing: .7rem;
    font-weight: 900;
    font-family: 'Caveat', cursive;
}

.payments{
    display: block;
}

.contacts p {
    margin: 2%;
}

.contacts span {
    font-size: 120%;
    margin: 2%;
    padding: 1%;
}

.contacts span b {
    color: rgb(0, 0, 0);
    font-size: 120%;
    background-color: rgb(193, 154, 106);
    padding: 1%;
    margin: 2%;
}

.acc {
    display: flex;
    background-color: rgba(255, 255, 255, 0.632);
    color: black;
    justify-content: center;
}

.acc > img {
    width: 20%;
    align-self: center;
}

.imgcontainer {
    display: flex;
    justify-content: space-around;
}

.imgcontainer img {
    width: 100%;
    height: 20vh;
    margin: 10% 15% 0;
}

footer {
    font-size: 70%;
    bottom:0;
    padding: 4% 10%;
    background-color: rgba(176, 113, 71, 0.623);
    margin-top: 5%;
}

@media (max-width: 768px){
    body {
        font-size: 200%;
    }

    main {
        display: block;
        width: 90%;
    }

    nav {
        display: none;
    }
}