@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kalam&family=Lobster&family=Mali:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
}

body {
  background-color: #f9fbe7;
  font-size: 220%;
  color: #332465;
}

header {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  padding: 0.7% 0.5%;
  background-color: #e0f2f1;
}

header img {
  width: 12%;
}

.header-nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header-nav-menu {
  width: 20%;
}

.header-nav-menu li a {
  font-size: 50%;
  background-color: rgb(255, 255, 255);
  padding: 10% 25%;
  border-radius: 25%;
  text-decoration: none;
  color: black;
}

aside {
  margin-top: 55%;
}

.coffee-section {
  background-color: #c7ebfa;
  text-align: center;
  padding: 1%;
  position: fixed;
  top: 5000px;
  z-index: 999;
  right: 17.5%;
}

.coffee-section input {
  width: 20%;
  height: 4dvh;
  margin: auto 0;
}

.coffee-section button {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  padding-block: 5%;
}

main {
  display: grid;
  grid-template-columns: 20% 68% 8%;
  font-size: 60%;
  margin-top: 10%;
  width: 80%;
  margin: 0 auto;
}

h2,
h3 {
  color: #3d0000;
  margin-top: 3%;
}

h2:not(.title) {
  letter-spacing: 0.25em;
  text-decoration: underline;
  font-family: "Kalam", cursive;
}

.title {
  height: 25vh;
  background-image: url("./images/ngonghills.jpg");
  background-size: cover;
  background-position: center;
  background-color: #1B5E207CB342;
  background-blend-mode: multiply;
  border-bottom: 15px solid rgb(189, 123, 24);
  margin-top: 7%;
}

.title h2 {
  padding: 9% 12% 0%;
  font-size: 120%;
  color: white;
  letter-spacing: 0.4rem;
  word-spacing: 0.2rem;
}

.side-nav-menu {
  height: 37dvh;
  position: sticky;
  top: 10%;
  border-left: 2px solid green;
}

.side-nav-menu a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 100%;
  color: rgb(27, 94, 32);
  margin-top: 4%;
  background-color: rgb(255, 240, 221);
  padding: 3%;
  text-align: left;
  width: 65%;
}

.side-nav-menu a:hover {
  width: 80%;
  color: bisque;
  background-color: rgb(27, 94, 32);
  text-align: center;
}

.requirements ul {
  display: flex;
  flex-direction: column;
  height: 12vh;
  flex-wrap: wrap;
  list-style: none;
}

.irua {
  display: block;
}

.location > iframe,
.iruaimg > iframe {
  margin: 2% 0;
  width: 100%;
  height: 60vh;
}

.irua p {
  margin-bottom: 2%;
}

.events img {
  width: 30%;
}

.photocontainer {
  border: 2px solid white;
  width: 90%;
  margin: 2% auto;
  padding: 2%;
  display: flex;
  overflow-x: scroll;
  gap: 2%;
  background-color: #f57b0057;
}

.photocontainer img {
  width: 40%;
  height: 20%;
}

.prayer {
  margin: 5% 0;
  padding: 3% 0.1%;
  background-color: rgb(146, 190, 138);
  text-align: center;
  font-size: 140%;
  letter-spacing: 0.7rem;
  font-weight: 900;
  font-family: "Caveat", cursive;
}

.payments {
  display: block;
}

.contacts p {
  margin: 2%;
}

.contacts span {
  font-size: 120%;
  text-align: center;
  margin: 2%;
  padding: 1%;
}

.contacts span b {
  color: rgb(0, 0, 0);
  font-size: 120%;
  background-color: rgb(193, 154, 106);
  padding: 1%;
  margin: 2%;
}

.acc {
  display: flex;
  background-color: rgba(255, 255, 255, 0.632);
  color: black;
  justify-content: center;
}

.acc > img {
  width: 20%;
  align-self: center;
}

.imgcontainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.imgcontainer img {
  width: 50%;
  aspect-ratio: 1/1;
  border: 2px solid #332465;
}

footer {
  background-color: #d8ffbd;
  font-size: 70%;
  padding: 5%;
}

@media (max-width: 768px) {
  body {
    font-size: 200%;
  }

  main {
    display: block;
    width: 90%;
  }

  aside {
    display: none;
  }

  nav {
    display: none;
  }

  .imgcontainer {
    display: block;
    margin-top: 5%;
  }

  .imgcontainer img {
    width: 50%;
  }
}
